{{ form_start(articleForm) }}
    {# {{ form_widget(articleForm) }} #}

    {#{{ form_label(articleForm.title, 'Article title') }}
    {{ form_errors(articleForm.title) }}
    {{ form_widget(articleForm.title) }}
    {{ form_help(articleForm.title) }}#}


    {{ form_row(articleForm.title, {
        label: 'Article title!'
    }) }}


    {# {{  articleForm.title.vars.id }} #}
    {{ form_row(articleForm.content) }}
    {% if articleForm.publishedAt is defined %}
        {{ form_row(articleForm.publishedAt) }}
    {% endif %}
    {{ form_row(articleForm.location) }}
    {% if articleForm.specificLocationName is defined %}
        {{ form_row(articleForm.specificLocationName) }}
    {% endif %}

    {{ form_row(articleForm.author) }}
<button type="submit" class="btn btn-primary">{{ button_text }}</button>
{{ form_end(articleForm) }}